
.titleDiv{
    display: flex;
    place-content: center;
}


#Title1{
    animation-name: title1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    

}

h1{
    /* animation-name: animateTitle;
    animation-duration: 2s;
    animation-iteration-count: infinite; */
    color: #fff;
    display: flex;
    place-content: center;
    font-size: 10vh;
    font-family: jaro;
    font-weight: 100;
    text-shadow: 4px 3px 10px black;
}

.Buttons-zone{
    margin-top: 10%;
    /* border: solid black; */
    display: flex;
    place-content: center;
    gap: 6%;
}